.about {
  grid-column: 1 / -1;
  grid-row: 4 / 5;

  display: grid;
  grid-template-columns: 45% 55%;
  align-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: none;
  }

  &__left {
    padding: 4rem;
    background-color: var(--color-secondary);

    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--color-white);

    h3 {
      font-size: 6rem;
      font-family: var(--font-heading);
      margin-bottom: 4rem;
    }

    &--standout-text {
      color: var(--color-bright);
      font-weight: 400;
      display: inline-block;
      max-width: fit-content;
      padding: 0.8rem 2rem;
      border-radius: 20px;
      background-color: rgba(var(--color-bright-rgba), 0.1);
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &--emoticon {
      font-size: 3rem;
      animation: wobble 2.5s infinite;
      display: inline-block;
    }

    p {
      margin-bottom: 1rem;
    }

    &--link {
      color: var(--color-bright);
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease;
      border: none;
      background: none;

      &:hover,
      &:active {
        transform: rotate(-3deg) translateX(5px) scale(1.1);
        box-shadow: 0 1rem 1rem rgba(var(--color-bright-rgba), 0.3);
      }
    }
  }

  &__right {
    padding: 4rem;
    background-color: var(--color-white);

    .heading {
      font-family: var(--font-heading);
      font-weight: 700;
      font-size: 6rem;
    }
  }
}
