.contact {
  background: var(--color-primary);
  opacity: 0.8;
  padding: 4rem;

  grid-row: 8 / 9;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: none;
  }

  &__heading {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-weight: 900;

    width: 100%;

    &--icon {
      width: 10rem;
      height: 10rem;
    }
  }

  .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid var(--color-secondary);
    padding: 1rem;

    @media only screen and (max-width: $bp-medium) {
      border-left: none;
    }
  }

  &__form {
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
  }
}
