.contact {
  background: var(--color-primary);
  opacity: 0.8;
  padding: 4rem;

  grid-row: 8 / 9;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: none;
  }

  &__left {
    align-self: center;
    text-align: center;

    h2 {
      font-size: 6rem;
      text-transform: uppercase;
      font-family: var(--font-heading);
      font-weight: 900;
      margin-bottom: 4rem;
    }

    &--icon {
      width: 10rem;
      height: 10rem;
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--color-secondary);
    padding: 1rem;

    @media only screen and (max-width: $bp-medium) {
      border-left: none;
    }

    .submit-container {
      font-size: var(--font-larger);
      text-align: center;
    }
  }
}
