.about {
  background-color: var(--color-white);

  display: grid;
  grid-template-columns: 45% 55%;
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  &__left {
    background-color: var(--color-secondary);
    padding: 4rem 6rem;
    font-weight: var(--font-content-light);
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin-bottom: 1rem;
    }

    .heading {
      color: var(--color-bright);
      font-weight: var(--font-content-regular);
      display: inline-block;
      max-width: fit-content;
      align-items: start;
      padding: 0.8rem 2rem;
      border-radius: 20px;
      background-color: rgba(var(--color-bright-rgba), 0.1);
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .emoticon {
      font-size: 3rem;
      animation: wobble 2.5s infinite;
      display: inline-block;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-bright);
      font-weight: var(--font-content-bold);
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      transition: all 0.2s ease;

      &:hover,
      &:active {
        transform: rotate(-3deg) translateX(5px) scale(1.1);
        box-shadow: 0 1rem 1rem rgba(var(--color-bright-rgba), 0.3);
      }
    }
  }

  &__right {
    margin: auto 0;
    padding: 4rem;

    .heading {
      font-family: var(--font-heading);
      font-weight: var(--font-heading-bold);
      font-size: 6rem;
      text-align: center;
      margin-bottom: 4rem;
    }
  }
}
