:root {
  // COLORS
  --color-primary: #f25f24;
  --color-secondary: #1f1f1f;

  --color-bright: #4fe9a4;
  --color-bright-rgba: 79, 233, 164; // To use with rgba()

  --color-white: #fff;

  --color-light-1: #f9f7f6; // Background overlay
  --color-light-1-rgba: 249, 247, 246; // To use with rgba()

  // FONT STYLES
  --font-heading: 'Roboto Slab', sans-serif; // 700, 900
  --font-content: 'Roboto', sans-serif; // 300, 400
  --font-content-secondary: 'Anton', sans-serif;

  --font-heading-bold: 700;
  --font-heading-black: 900;

  --font-content-light: 300;
  --font-content-regular: 400;
  --font-content-bold: 700;

  // TEXT STYLES
  --white-text-shadow: 1px 1px 2px var(--color-white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  background: linear-gradient(
      rgba(var(--color-light-1-rgba), 0.7),
      rgba(var(--color-light-1-rgba), 0.7)
    ),
    url(../images/main-background.jpg) no-repeat center center fixed;
  background-size: cover;

  font-family: var(--font-content);
  color: var(--color-secondary);
  font-weight: 400;
}
