.header {
  position: relative;
  font-family: var(--font-heading);
  text-transform: uppercase;
  overflow: hidden;
  // testing
  margin-top: -2rem;

  grid-row: 2 / 3;
  grid-column: 1 / -1;

  &__title {
    text-align: center;
    z-index: 100;

    span:first-child {
      margin: 0 2rem;

      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      column-gap: 1rem;
      align-items: center;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 1rem;
        background-color: var(--color-secondary);
      }
    }

    span:not(:first-child) {
      font-weight: var(--font-heading-black);
      font-size: 16rem;
    }

    span {
      display: block;
      line-height: 1;
      text-shadow: var(--white-text-shadow);
    }
  }

  &__background--text {
    color: var(--color-primary);
    font-size: 160rem;
    font-weight: var(--font-heading-black);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    transform: translate(-50%, -55%);
    opacity: 0.8;
  }
}
