.navbar {
  background-color: $color-secondary;
  color: $color-light-1;
  padding: 2rem 7rem;

  & > * {
    font-family: $font-heading;
    text-transform: uppercase;
  }

  &__heading {
    font-size: 2.8rem;

    &--sub {
      font-size: 2rem;
    }
  }
}
