.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto max-content repeat(3, 65vh);
}
