input,
textarea {
  width: 50rem;
  padding: 2.5rem;
  border-radius: 10px;
  font-family: var(--font-content);
  font-size: var(--font-regular);

  &:focus {
    outline: none;
  }
}

label {
  font-size: var(--font-regular-large);
  margin-bottom: 5px;
}

input {
  margin-bottom: 2rem;
  height: 4rem;
}

textarea {
  height: 20rem;
  resize: none;
}
