.nav__link {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-size: var(--font-regular);
  font-weight: 300;
  font-family: var(--font-content);
  text-decoration: none;
  border: none;
  background: none;
  color: var(--color-white);

  &::after {
    @include underline;
    background-color: var(--color-primary);
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &:hover,
  &:active {
    color: var(--color-primary);
  }
}
