.header__scrolling {
  border-top: 2px solid var(--color-secondary);
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: all 2s ease;

  &--content {
    display: inline-block;
    font-family: var(--font-content-secondary);
    font-size: 6rem;
  }
}
