.contact__links {
  text-align: center;

  &--item {
    display: inline-block;
    margin: 0 4rem;

    .link:link,
    .link:visited {
      cursor: pointer;
      color: var(--color-secondary);
      text-decoration: none;
      font-size: 1.3rem;
      transition: all 0.2s;

      position: relative;

      &::after {
        @include underline;
        background-color: currentColor;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      &:hover,
      &:active {
        color: var(--color-white);
      }

      &:hover img {
        transform: scale(1.05);
      }
    }

    img {
      width: 5rem;
      height: 5rem;
      transition: all 0.3s ease-in-out;
    }
  }
}
