:root {
  // COLORS
  --color-primary: #f25f24;
  --color-secondary: #1f1f1f;

  --color-bright: #4fe9a4;
  --color-bright-rgba: 79, 233, 164; // To use with rgba()

  --color-white: #fff;

  --color-light-1: #f9f7f6; // Background overlay
  --color-light-1-rgba: 249, 247, 246; // To use with rgba()

  // FONT STYLES
  --font-heading: 'Roboto Slab', sans-serif; // 700, 900
  --font-content: 'Roboto', sans-serif; // 300, 400
  --font-content-secondary: 'Anton', sans-serif;

  // FONT SIZES
  --font-larger: 3rem;
  --font-regular-large: 2.5rem;
  --font-regular: 2rem;
  --font-small: 1.5rem;

  // TEXT STYLES
  --white-text-shadow: 1px 1px 2px var(--color-white);

  // SECTION SPACING
  --spacing: 15rem;
}

// BREAK POINTS
$bp-largest: 93.75em; // 1500px
$bp-large: 78.125em; // 1200px
$bp-medium-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-medium-small: 46.875em; // 750px
$bp-small: 31.25em; // 500px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 53%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-padding-top: 13rem; // Height of Navbar for position:sticky

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  background: linear-gradient(
      rgba(var(--color-light-1-rgba), 0.7),
      rgba(var(--color-light-1-rgba), 0.7)
    ),
    url(../images/main-background.jpg) no-repeat center center fixed;
  background-size: cover;

  font-family: var(--font-content);
  color: var(--color-secondary);
  font-weight: 400;
}
