.header {
  position: relative;
  font-family: var(--font-heading);
  text-transform: uppercase;
  overflow: hidden;

  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: 60vh repeat(3, 10vh);

  &__title {
    text-align: center;
    z-index: 100;
    // background-color: red;
    align-self: center;

    &--background {
      color: var(--color-primary);
      font-size: 170rem;
      font-weight: var(--font-heading-black);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -2;
      transform: translate(-50%, -50%);
      opacity: 0.8;
    }

    span:first-child {
      margin: 0 2rem;
      font-size: 2.4rem;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      column-gap: 1rem;
      align-items: center;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 1rem;
        background-color: var(--color-secondary);
      }
    }

    span:not(:first-child) {
      font-weight: var(--font-heading-black);
      font-size: 16rem;
      margin-bottom: 4rem;

    }

    span {
      display: block;
      line-height: 1;
      text-shadow: var(--white-text-shadow);
    }
  }
}
